body {
    background-image: url(http://img1.picmix.com/output/stamp/normal/8/9/1/4/264198_d6166.gif), url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjWvsj1o9HYAhUlYt8KHehkBpIQjRx6BAgAEAY&url=https%3A%2F%2Fapkname.com%2Fbg%2Fcom.adwin23.adwin23&psig=AOvVaw2ZY7O3Vjp9oDaPPD0AY7ur&ust=1515807153886487);
    background-repeat: ;

    text-align: center;
}

h1{
  font-size: 125px;
  color: #ce1629;
  font-family: 'Luckiest Guy', cursive;
}
img{
  size: 75px;
}
