body {
    background-image: url(https://usercontent1.hubstatic.com/11631564_f520.jpg);
    background-repeat: ;

    text-align: center;
}

h1{
  font-size: 125px;
  color: #ce1629;
  font-family: 'Luckiest Guy', cursive;
}
img{
  size: 75px;
}
